In [12]:
import pandas as pd

national_M2012_path = "../data/national_M2012_dl.xls"
national_M2013_path = "../data/national_M2013_dl.xls"
national_M2014_path = "../data/national_M2014_dl.xlsx"
national_M2015_path = "../data/national_M2015_dl.xlsx"
national_M2016_path = "../data/national_M2016_dl.xlsx"
national_M2017_path = "../data/national_M2017_dl.xlsx"
national_M2018_path = "../data/national_M2018_dl.xlsx"
national_M2019_path = "../data/national_M2019_dl.xlsx"
national_M2020_path = "../data/national_M2020_dl.xlsx"

# might need to pip install xlrd for reading xls files (old excel)
national_M2012 = pd.read_excel(national_M2012_path,engine=None)
national_M2013 = pd.read_excel(national_M2013_path,engine=None)
national_M2014 = pd.read_excel(national_M2014_path, engine='openpyxl')
national_M2015 = pd.read_excel(national_M2015_path, engine='openpyxl')
national_M2016 = pd.read_excel(national_M2016_path, engine='openpyxl')
national_M2017 = pd.read_excel(national_M2017_path, engine='openpyxl')
national_M2018 = pd.read_excel(national_M2018_path, engine='openpyxl')
national_M2019 = pd.read_excel(national_M2019_path, engine='openpyxl')
national_M2020 = pd.read_excel(national_M2020_path, engine='openpyxl')

In [20]:
df_list = [national_M2012, national_M2013, national_M2014, national_M2015, national_M2016, 
           national_M2017, national_M2018, national_M2019, national_M2020]

In [21]:
for i in df_list:
    print(len(i))

1394
1394
1394
1394
1394
1382
1379
1329
1329

In [40]:
national_M2012

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,00-0000,All Occupations,total,130287700,0.1,22.01,45790,0.1,8.7,10.81,16.71,27.02,41.74,18090,22480,34750,56200,86810,NaN,NaN
1,11-0000,Management Occupations,major,6390430,0.2,52.2,108570,0.1,22.12,31.56,45.15,65.2,#,46000,65650,93910,135620,#,NaN,NaN
2,11-1000,Top Executives,minor,2212150,0.2,57.72,120060,0.2,21.81,32.04,47.86,74.63,#,45370,66630,99550,155240,#,NaN,NaN
3,11-1010,Chief Executives,broad,255940,0.6,85.02,176840,0.3,36.65,52.86,80.84,#,#,76220,109940,168140,#,#,NaN,NaN
4,11-1011,Chief Executives,detailed,255940,0.6,85.02,176840,0.3,36.65,52.86,80.84,#,#,76220,109940,168140,#,#,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,53-7111,Mine Shuttle Car Operators,detailed,2990,5.9,24.67,51310,1.1,20.01,22.37,25.05,27.39,28.79,41620,46520,52110,56960,59890,NaN,NaN
1390,53-7120,"Tank Car, Truck, and Ship Loaders",broad,12390,5.0,22.31,46400,3.1,11.49,15.25,21.2,29.69,34.79,23900,31710,44100,61750,72360,NaN,NaN
1391,53-7121,"Tank Car, Truck, and Ship Loaders",detailed,12390,5.0,22.31,46400,3.1,11.49,15.25,21.2,29.69,34.79,23900,31710,44100,61750,72360,NaN,NaN
1392,53-7190,Miscellaneous Material Moving Workers,broad,27260,4.9,19.73,41040,3.3,9.4,11.6,17.94,26.15,34.57,19550,24140,37320,54390,71900,NaN,NaN
1393,53-7199,"Material Moving Workers, All Other",detailed,27260,4.9,19.73,41040,3.3,9.4,11.6,17.94,26.15,34.57,19550,24140,37320,54390,71900,NaN,NaN

In [67]:
def preprocess(data_frame):
    new_df = data_frame[['OCC_CODE','TOT_EMP','H_MEAN','H_MEDIAN','A_MEAN','A_MEDIAN']]
    tmpDF = pd.DataFrame(columns=['OCC_CODE','SUB_CODE'])
    tmpDF[['OCC_CODE','SUB_CODE']] = data_frame['OCC_CODE'].str.split('-', expand=True)
    new_df['OCC_CODE'] = tmpDF['OCC_CODE']
    return new_df

In [68]:
test = preprocess(national_M2012)
test

/var/folders/q2/wnzz25mn543c7qyfc9y2zxnh0000gn/T/ipykernel_13255/164379473.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['OCC_CODE'] = tmpDF['OCC_CODE']

     OCC_CODE    TOT_EMP H_MEAN H_MEDIAN  A_MEAN A_MEDIAN
0          00  130287700  22.01    16.71   45790    34750
1          11    6390430   52.2    45.15  108570    93910
2          11    2212150  57.72    47.86  120060    99550
3          11     255940  85.02    80.84  176840   168140
4          11     255940  85.02    80.84  176840   168140
...       ...        ...    ...      ...     ...      ...
1389       53       2990  24.67    25.05   51310    52110
1390       53      12390  22.31     21.2   46400    44100
1391       53      12390  22.31     21.2   46400    44100
1392       53      27260  19.73    17.94   41040    37320
1393       53      27260  19.73    17.94   41040    37320

[1394 rows x 6 columns]