In [26]:
import pandas as pd
import glob
import collections
import numpy as np

In [20]:
files = glob.glob("../data/states/*.xlsx")

frames = {}

for f in files:
    key = f[-12:-8]
    frames[key] = pd.read_excel(f, engine='openpyxl', 
                             usecols="B,C,F,J,K,O,T")

# Used Columns: 
# B - STATE
# C - OCC_CODE; 
# F - TOT_EMP; 
# J - H_MEAN; 
# K - A_MEAN; 
# O - H_MEDIAN; 
# T - A_MEDIAN;

In [25]:
# sort frames by ascending order
frames = collections.OrderedDict(sorted(frames.items()))

In [27]:
def preprocess(df):
    df = df.replace(['*', '#', '**', '~'], np.NaN)  # drop non numberic values
    tmpDF = pd.DataFrame(columns=['OCC_CODE','SUB_CODE'])
    tmpDF[['OCC_CODE','SUB_CODE']] = df['OCC_CODE'].str.split('-', expand=True)
    df['OCC_CODE'] = tmpDF['OCC_CODE']
    return df

for key, value in frames.items():
    frames[key] = preprocess(value)

In [29]:
# aggregate by the same occ_code
def aggByOCC(df, column_name):
    new = df.groupby(['OCC_CODE', 'STATE']).agg({column_name: ['mean', 'min', 'max']})
    return new

# aggregate by mean annual wage 
agg_a_mean = {}

# aggregate by mean hourly wage 
agg_h_mean = {}

# aggregate by median annual wage 
agg_a_median = {}

# aggregate by median hourly wage 
agg_h_median = {}

for key, value in frames.items():
    agg_a_mean[key] = aggByOCC(value,'A_MEAN')
    agg_h_mean[key] = aggByOCC(value,'H_MEAN')
    agg_a_median[key] = aggByOCC(value,'A_MEDIAN')
    agg_h_median[key] = aggByOCC(value,'A_MEDIAN')

In [30]:
agg_a_mean

{'2012':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        39550.000000  39550.0   39550.0
          Alaska         52050.000000  52050.0   52050.0
          Arizona        43950.000000  43950.0   43950.0
          Arkansas       36850.000000  36850.0   36850.0
          California     52350.000000  52350.0   52350.0
 ...                              ...      ...       ...
 53       Virginia       44190.816327  20300.0  133090.0
          Washington     48950.714286  23490.0  137980.0
          West Virginia  41154.285714  18490.0   86270.0
          Wisconsin      40976.585366  18690.0   97360.0
          Wyoming        43174.242424  21490.0   72080.0

 [1239 rows x 3 columns],
 '2013':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        40240.000000  40240.0   40240.0
          Alaska         53110.000000  53110.0   53110.0
          Arizona        44370.000000  44370.0   44370.0
          Arkansas       37340.000000  37340.0   37340.0
          California     53030.000000  53030.0   53030.0
 ...                              ...      ...       ...
 53       Virginia       44562.888889  20760.0  134240.0
          Washington     49832.325581  23370.0  112830.0
          West Virginia  40556.923077  18020.0   86710.0
          Wisconsin      40954.736842  18020.0  100440.0
          Wyoming        44810.322581  22480.0   75260.0

 [1242 rows x 3 columns],
 '2014':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        40890.000000  40890.0   40890.0
          Alaska         54040.000000  54040.0   54040.0
          Arizona        44580.000000  44580.0   44580.0
          Arkansas       37940.000000  37940.0   37940.0
          California     53890.000000  53890.0   53890.0
 ...                              ...      ...       ...
 53       Virginia       45032.954545  20660.0  136900.0
          Washington     49018.571429  24210.0  112450.0
          West Virginia  41022.368421  18600.0   85330.0
          Wisconsin      41101.315789  20000.0  103020.0
          Wyoming        45577.812500  22640.0   76690.0

 [1242 rows x 3 columns],
 '2015':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        41920.000000  41920.0   41920.0
          Alaska         55760.000000  55760.0   55760.0
          Arizona        45310.000000  45310.0   45310.0
          Arkansas       38540.000000  38540.0   38540.0
          California     55260.000000  55260.0   55260.0
 ...                              ...      ...       ...
 53       Virginia       44871.463415  21380.0  139580.0
          Washington     51179.069767  24990.0  112520.0
          West Virginia  39927.567568  19160.0   85160.0
          Wisconsin      43120.512821  21100.0  103260.0
          Wyoming        45763.235294  23030.0   78530.0

 [1242 rows x 3 columns],
 '2016':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        42510.000000  42510.0   42510.0
          Alaska         56710.000000  56710.0   56710.0
          Arizona        46290.000000  46290.0   46290.0
          Arkansas       39590.000000  39590.0   39590.0
          California     56840.000000  56840.0   56840.0
 ...                              ...      ...       ...
 53       Virginia       45217.000000  22140.0  137410.0
          Washington     55219.024390  26230.0  199560.0
          West Virginia  41200.512821  20680.0   87300.0
          Wisconsin      44210.540541  20690.0  100920.0
          Wyoming        46430.909091  23890.0   82470.0

 [1242 rows x 3 columns],
 '2017':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        43170.000000  43170.0   43170.0
          Alaska         57750.000000  57750.0   57750.0
          Arizona        48160.000000  48160.0   48160.0
          Arkansas       40530.000000  40530.0   40530.0
          California     57190.000000  57190.0   57190.0
 ...                              ...      ...       ...
 53       Virginia       44742.777778  22940.0  140630.0
          Washington     57701.818182  28470.0  237590.0
          West Virginia  43296.756757  21550.0   90810.0
          Wisconsin      45390.833333  23100.0  104420.0
          Wyoming        48353.225806  22750.0   77590.0

 [1242 rows x 3 columns],
 '2018':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        43790.000000  43790.0   43790.0
          Alaska         58710.000000  58710.0   58710.0
          Arizona        49290.000000  49290.0   49290.0
          Arkansas       41540.000000  41540.0   41540.0
          California     59150.000000  59150.0   59150.0
 ...                              ...      ...       ...
 53       Virginia       45633.888889  24120.0  139520.0
          Washington     57202.439024  29140.0  237150.0
          West Virginia  44560.270270  22320.0   85490.0
          Wisconsin      47090.540541  23030.0  106240.0
          Wyoming        49908.437500  22010.0   92010.0

 [1241 rows x 3 columns],
 '2019':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        44930.000000  44930.0   44930.0
          Alaska         59290.000000  59290.0   59290.0
          Arizona        50930.000000  50930.0   50930.0
          Arkansas       42690.000000  42690.0   42690.0
          California     61290.000000  61290.0   61290.0
 ...                              ...      ...       ...
 53       Virginia       44298.888889  24510.0   78090.0
          Washington     59738.780488  31580.0  234060.0
          West Virginia  44890.285714  22950.0   86950.0
          Wisconsin      46050.263158  23330.0  100470.0
          Wyoming        47333.103448  22090.0   83670.0

 [1241 rows x 3 columns],
 '2020':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        46840.000000  46840.0   46840.0
          Alaska         61760.000000  61760.0   61760.0
          Arizona        53400.000000  53400.0   53400.0
          Arkansas       44780.000000  44780.0   44780.0
          California     65740.000000  65740.0   65740.0
 ...                              ...      ...       ...
 53       Virginia       46040.810811  25570.0   81780.0
          Washington     61128.974359  33470.0  221570.0
          West Virginia  45131.470588  23000.0   84840.0
          Wisconsin      48870.833333  24280.0  105950.0
          Wyoming        47971.379310  24020.0   83360.0

 [1242 rows x 3 columns],
 '2021':                               A_MEAN
                                 mean      min       max
 OCC_CODE STATE
 00       Alabama        48110.000000  48110.0   48110.0
          Alaska         63480.000000  63480.0   63480.0
          Arizona        55170.000000  55170.0   55170.0
          Arkansas       46500.000000  46500.0   46500.0
          California     68510.000000  68510.0   68510.0
 ...                              ...      ...       ...
 53       Virginia       53820.208333  24550.0  206690.0
          Washington     62286.521739  33410.0  222340.0
          West Virginia  47421.351351  24140.0  102250.0
          Wisconsin      51379.761905  25740.0  122060.0
          Wyoming        50849.354839  24500.0   99850.0

 [1242 rows x 3 columns]}