In [1]:
import pandas as pd
import glob

In [18]:
files = glob.glob("../data/states/*.xlsx")

frames = {}

for f in files:
    frames[f] = pd.read_excel(f, engine='openpyxl', 
                             usecols="B,C,F,J,K,O,T")

In [19]:
frames

{'../data/states/state_M2014_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1857530  19.66   40890    14.83    30850
 1             Alabama  11-0000    67500  51.48  107080    44.98    93550
 2             Alabama  11-1011     1080  97.67  203150        #        #
 3             Alabama  11-1021    26480     58  120640       49   101930
 4             Alabama  11-1031     1470      *   21920        *    18450
 ...               ...      ...      ...    ...     ...      ...      ...
 37712  Virgin Islands  53-6031      100  11.27   23440    10.51    21860
 37713  Virgin Islands  53-7051       40  11.55   24020    10.79    22450
 37714  Virgin Islands  53-7061       90   9.32   19370     9.07    18860
 37715  Virgin Islands  53-7062      520  13.23   27520    11.46    23840
 37716  Virgin Islands  53-7064      180    8.4   17470     8.59    17870

 [37717 rows x 7 columns],
 '../data/states/state_M2015_dl.xlsx':                 STATE OCC_CODE  TOT_EMP  H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1883310   20.15   41920    15.17    31550
 1             Alabama  11-0000    69100   52.79  109800     45.9    95470
 2             Alabama  11-1011     1100  101.21  210530        #        #
 3             Alabama  11-1021    27240   58.85  122410     49.2   102330
 4             Alabama  11-1031     1430       *   22690        *    18380
 ...               ...      ...      ...     ...     ...      ...      ...
 37637  Virgin Islands  53-6099       **   16.26   33810    16.84    35040
 37638  Virgin Islands  53-7051       **   13.66   28410    11.56    24040
 37639  Virgin Islands  53-7061       80    9.79   20360     9.33    19410
 37640  Virgin Islands  53-7062      560   11.75   24440    10.74    22350
 37641  Virgin Islands  53-7064      180    8.47   17620     8.63    17940

 [37642 rows x 7 columns],
 '../data/states/state_M2017_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1922570  20.76   43170    15.77    32800
 1             Alabama  11-0000    69950  53.44  111150    46.63    96980
 2             Alabama  11-1011     1120  99.56  207090    94.45   196460
 3             Alabama  11-1021    27150  58.04  120730    49.19   102320
 4             Alabama  11-1031     1100      *   25410        *    18910
 ...               ...      ...      ...    ...     ...      ...      ...
 36987  Virgin Islands  53-7051       50  17.56   36520    15.78    32830
 36988  Virgin Islands  53-7061       30    9.8   20380     9.29    19320
 36989  Virgin Islands  53-7062      500  11.62   24180    10.91    22690
 36990  Virgin Islands  53-7064      140   9.35   19460      9.2    19140
 36991  Virgin Islands  53-7199       50  23.58   49040    22.59    46980

 [36992 rows x 7 columns],
 '../data/states/state_M2021_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1928110  23.13   48110    17.91    37250
 1             Alabama  11-0000    96070  51.06  106210    45.51    94650
 2             Alabama  11-1011      690  72.24  150260    61.14   127170
 3             Alabama  11-1021    34370   54.5  113350    46.28    96270
 4             Alabama  11-1031     1030      *   28520        *    17840
 ...               ...      ...      ...    ...     ...      ...      ...
 37575  Virgin Islands  53-7051       80  14.62   30400    13.86    28820
 37576  Virgin Islands  53-7061       50  13.48   28040    13.89    28890
 37577  Virgin Islands  53-7062      370  14.51   30180    14.14    29410
 37578  Virgin Islands  53-7064      110  12.65   26320    11.92    24790
 37579  Virgin Islands  53-7065      450  13.32   27710    12.16    25300

 [37580 rows x 7 columns],
 '../data/states/state_M2020_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1903210  22.52   46840    17.43    36250
 1             Alabama  11-0000    87110   52.9  110040    45.73    95120
 2             Alabama  11-1011     1160  84.09  174910    77.55   161290
 3             Alabama  11-1021    31170  58.56  121800    48.64   101170
 4             Alabama  11-1031     1150      *   28840        *    18820
 ...               ...      ...      ...    ...     ...      ...      ...
 36080  Virgin Islands  53-7021       60  29.43   61220    29.43    61220
 36081  Virgin Islands  53-7051       90  14.06   29240     12.7    26410
 36082  Virgin Islands  53-7062      600  15.01   31230    13.96    29040
 36083  Virgin Islands  53-7064      130  12.51   26020    11.76    24470
 36084  Virgin Islands  53-7065      590     13   27030    12.04    25040

 [36085 rows x 7 columns],
 '../data/states/state_M2016_dl.xlsx':                 STATE OCC_CODE  TOT_EMP  H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1912990   20.44   42510    15.43    32100
 1             Alabama  11-0000    70090   52.98  110210    46.09    95870
 2             Alabama  11-1011     1030  100.63  209300    94.59   196750
 3             Alabama  11-1021    26930   58.86  122420    49.53   103030
 4             Alabama  11-1031     1210       *   23390        *    18560
 ...               ...      ...      ...     ...     ...      ...      ...
 37556  Virgin Islands  53-5021      130   17.91   37250    17.53    36470
 37557  Virgin Islands  53-6031       70   10.24   21300    10.13    21080
 37558  Virgin Islands  53-7061       70     9.2   19130     8.88    18460
 37559  Virgin Islands  53-7062      540   11.64   24220    10.48    21800
 37560  Virgin Islands  53-7064      150    8.49   17650     8.55    17770

 [37561 rows x 7 columns],
 '../data/states/state_M2013_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1844080  19.35   40240    14.61    30390
 1             Alabama  11-0000    66820  50.77  105600    44.53    92610
 2             Alabama  11-1011     1300  88.34  183750    83.98   174690
 3             Alabama  11-1021    26490  57.62  119850    49.06   102050
 4             Alabama  11-1031     1400      *   22660        *    18510
 ...               ...      ...      ...    ...     ...      ...      ...
 37720  Virgin Islands  53-6061       **  13.09   27230    12.65    26310
 37721  Virgin Islands  53-7051       **  11.08   23050    10.22    21270
 37722  Virgin Islands  53-7061      100  10.41   21640    10.07    20940
 37723  Virgin Islands  53-7062      430  10.97   22820    10.15    21100
 37724  Virgin Islands  53-7064      210   8.38   17440     8.47    17620

 [37725 rows x 7 columns],
 '../data/states/state_M2012_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1824400  19.01   39550     14.4    29950
 1             Alabama  11-0000    66790  49.24  102420    43.21    89870
 2             Alabama  11-1011     1330  86.38  179680    80.98   168450
 3             Alabama  11-1021    27040  55.58  115610    47.09    97950
 4             Alabama  11-1031     1070      *   19860        *    18270
 ...               ...      ...      ...    ...     ...      ...      ...
 37629  Virgin Islands  53-6031       **  11.28   23460    10.45    21730
 37630  Virgin Islands  53-6061      100  14.55   30270    13.74    28570
 37631  Virgin Islands  53-7061      110  10.04   20890     9.26    19270
 37632  Virgin Islands  53-7062      430  10.97   22810    10.25    21330
 37633  Virgin Islands  53-7064      160   8.76   18210     8.56    17800

 [37634 rows x 7 columns],
 '../data/states/state_M2019_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1974170   21.6   44930    16.73    34800
 1             Alabama  11-0000    83760  51.86  107860    45.03    93660
 2             Alabama  11-1011     1320  92.84  193110    86.91   180780
 3             Alabama  11-1021    30790  56.41  117340    47.42    98630
 4             Alabama  11-1031     1110      *   29130        *    18880
 ...               ...      ...      ...    ...     ...      ...      ...
 36377  Virgin Islands  53-7021       40  27.72   57660    28.02    58280
 36378  Virgin Islands  53-7051       60  14.53   30230    12.33    25640
 36379  Virgin Islands  53-7062      470  13.97   29050    12.72    26450
 36380  Virgin Islands  53-7064      120  11.53   23990    11.19    23280
 36381  Virgin Islands  53-7065      630  12.46   25920    11.58    24090

 [36382 rows x 7 columns],
 '../data/states/state_M2018_dl.xlsx':                 STATE OCC_CODE  TOT_EMP H_MEAN  A_MEAN H_MEDIAN A_MEDIAN
 0             Alabama  00-0000  1943760  21.05   43790    16.22    33740
 1             Alabama  11-0000    73860  52.73  109680    46.01    95710
 2             Alabama  11-1011     1390  98.36  204590    91.31   189920
 3             Alabama  11-1021    28600  56.94  118440    48.55   100980
 4             Alabama  11-1031      970      *   31760        *    19210
 ...               ...      ...      ...    ...     ...      ...      ...
 36892  Virgin Islands  53-6031       70   11.7   24340    11.27    23430
 36893  Virgin Islands  53-6099       **  14.47   30100    13.58    28240
 36894  Virgin Islands  53-7051       60  13.94   28990    11.96    24870
 36895  Virgin Islands  53-7062       **  14.06   29250    13.17    27400
 36896  Virgin Islands  53-7064      100  10.34   21510     9.83    20450

 [36897 rows x 7 columns]}